BasedOnStyle: LLVM

IndentWidth: 8
TabWidth: 8
UseTab: Never

PointerAlignment: Left
DerivePointerAlignment: false

BreakBeforeBraces: Attach

ColumnLimit: 0

BinPackArguments: false
BinPackParameters: false

ReflowComments: false